.wrapper {
  background-image: linear-gradient(
      rgba(141, 138, 138, 0.5) 100%,
      rgba(88, 87, 87, 0.5) 100%
    ),
    url("https://static.wixstatic.com/media/12af21_8292f31b1f1e43cfa74b96b7a785a537~mv2.jpg/v1/fill/w_1349,h_580,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/12af21_8292f31b1f1e43cfa74b96b7a785a537~mv2.jpg");

  height: 580px;
  width: 100%;
  margin-top: 120px;
}

.client-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  align-items: center;
  padding: 0 10px;
}

.wrapper_2nd {
  background-image: url("https://static.wixstatic.com/media/11062b_5c6719f355894992a4ffad6a33a9749b~mv2.jpg/v1/fill/w_1349,h_881,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_5c6719f355894992a4ffad6a33a9749b~mv2.jpg");
}
.section {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0 80px;
  padding: 50px 40px;
}
.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input {
  width: 100%;
  padding: 4px 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

.input:focus {
  border-bottom: 1px solid grey;
}

.textArea {
  height: 70px;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  padding: 4px 10px;
}
.button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 30px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  align-items: center;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 4rem !important;
  height: 4rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: #2eaee0;
}

.carousel-item img {
  min-width: 150px;
  min-height: 100px;
  max-height: 100px ;
  max-width: 120px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.subtitle{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.note{
  animation: 1s ease-out 0s 1 slideInFromTop;

}