
.team {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 50px;
    margin-top: 150px;
  }
  
  .team > div > img {
    border-radius: 10px;
    height: 250px;
    width:  250px;
  }